
    <header>
        <h1>Atendimento On-line</h1>
    </header>
    <main>
        <div class="msg">
            <p>Atendente diz:</p>
            <p class="caixa">Olá, tudo bem?</p>
            <p>Atendente diz:</p>
            <p class="caixa">No que posso ajudar?</p>
        </div>
        <div id="minhasMensagens" class="msg2">
            <p id="frase">Você diz:</p>
            <p class="caixa">Minha encomenda ainda não chegou</p>
            <p>Você diz:</p>
            <p class="caixa">Pode me enviar o código de rastreio?</p>
        </div>
        <div>
          <ul class="lista">
            <li *ngFor="let item of lista" class="msg2">
              <p>Você diz:</p>
              <p class="caixa" >{{item}}</p>
            
            
            </li>
            <li *ngIf="lista.length === 0"></li>
          </ul>
        </div>
    </main>
    <form id="formMsg" class="envio" (ngSubmit)="adicionaItem()">
      <textarea id="msg_para_envio" class="input" name="mensagem" id="mensagem"[(ngModel)]="novoItem"></textarea>
      <button id="btnAddMsg" type="submit" class="envio">Enviar</button>
  </form>


